@use 'components/index' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: $mainfont;
}

body {
    @include flex(center, center);
    min-height: 100vh;
    width: 100%;
    flex-flow: column;
    background-color: $purpleContraste;
}

html {
    font-size: 62.5%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: black;
    letter-spacing: 0.3px;
}

.attribution a {
    color: $white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}