@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

$mainfont: "Poppins", sans-serif;

$white: hsl(0, 0%, 100%);
$offwhite: hsl(0, 0%, 94%);
$lightgrey: hsl(0, 3%, 92%);
$smokeygrey: hsl(0, 1%, 44%);
$offblack: hsl(0, 0%, 8%);
$purple: hsl(259, 100%, 65%);
$lightred: hsl(0, 100%, 67%);