@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/breakpoint' as *;

@keyframes cair {
    0% {
        transform: translateY(-100%);
    }

    20% {
        transform: translateY(10%);
    }

    40% {
        transform: translateY(-5%);
    }

    60% {
        transform: translateY(2%);
    }

    80% {
        transform: translateY(-1%);
    }

    100% {
        transform: translateY(0);
    }
}


.container {
    display: flex;
    flex-flow: column;
    width: min(430px, 70%);
    min-height: auto;
    align-self: center;
    background-color: $white;
    border-radius: 10px 10px 80px 10px;
    padding: 20px;
    position: relative;
    animation: cair 2.5s ease-out;
    animation-fill-mode: forwards;
    display: none;

    @include mobile-view() {
        width: min(430px, 90%);
    }
}

.active {
    display: block;
}

.input-area {
    min-height: auto;
    display: flex;
    flex-flow: row;
    gap: 15px;
    margin: 10px 10px 15px 10px;

    @include mobile-view() {
        @include flex(center, center);
        padding-bottom: 25px;
    }
}

.labelinputdia {
    padding-left: 1px;
    padding-bottom: 3px;
    color: $smokeygrey;
    font-size: 0.8rem;
    letter-spacing: 2px;

}

.labelinputmes {
    padding-left: 1px;
    padding-bottom: 3px;
    color: $smokeygrey;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.labelinputano {
    padding-left: 1px;
    padding-bottom: 3px;
    color: $smokeygrey;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.labelinputdia.active {
    color: $lightred;
}

.labelinputmes.active {
    color: $lightred;
}

.labelinputano.active {
    color: $lightred;
}

input {
    width: 80px;
    min-height: 33px;
    outline: none;
    border: 1px solid $lightgrey;
    border-radius: 5px;
    padding: 0px 5px 0px 10px;
    margin-top: 0;
    color: $offblack;
    cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input:focus {
    border: 1px solid $purpleContraste;
}

input.active {
    border: 1px solid $lightred;
    margin-top: 0;
    padding-top: 0;
}

.dia.active {
    border: 1px solid $lightred;
}

.mes.active {
    border: 1px solid $lightred;
}

.ano.active {
    border: 1px solid $lightred;
}

::placeholder {
    color: $smokeygrey;
}

.arrow {
    @include flex(center, center);
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50px;
    background-color: $purple;
    right: 20px;
    bottom: 160px;

    img {
        height: 75%;
        margin-left: -2.5%;
    }

    &:hover {
        cursor: pointer;
        background-color: $offblack;
    }

    @include mobile-view() {
        right: 43%;
        bottom: 175px;
    }
}

.response-area {
    display: flex;
    flex-flow: column;
    min-height: auto;
    font-size: 4.2rem;
    font-weight: 800;
    font-style: italic;
    margin: 20px;
    padding-top: 25px;
    border-top: 1px solid $lightgrey;
    color: $offblack;
    margin: 10px;

    p {
        margin: -10px 0 -10px 0;
    }

    @include mobile-view() {
        padding-top: 40px;
    }
}

span {
    color: $purple;
}

.error-messageday {
    font-style: italic;
    font-size: 0.7rem;
    padding-left: 2px;
    color: transparent;
    padding-top: 3px;
}

.error-messagemonth {
    font-style: italic;
    font-size: 0.7rem;
    padding-left: 2px;
    color: transparent;
    padding-top: 3px;
}

.error-messageyear {
    font-style: italic;
    font-size: 0.7rem;
    padding-left: 2px;
    padding-top: 3px;
    color: transparent;
}